.body{
    min-height: 100vh;
}
.container{
    border-radius: 15px;
}
.login-container {
    color: white;
    padding: 3rem;
    background-image: url("/img/luca-unsplash.jpg");
  /*  blur?*/
}


.btn-incative {
    background-color: rgba(255,255,255,0.1);
    border: 1px solid darkseagreen;
}
.btn-active {
    background-color: darkseagreen;
    color: white;
}
.mybtn {
    border-radius: 15px;
    border-color: transparent;
    padding: 0.5rem;
}

.bg-seashell {
    background-color: #FFF3EB;
}
.bg-white {
    background-color: white;
}

.bg-night {
    background-color: #161414;
}
.bg-darkgreen {
    background-color: #274029;
}
.bg-midgreen {
    background-color: #315C2B;
}
.bg-lightgreen {
    background-color: #60712F;
}

#tableList > table{

    border-style: dashed;
    border-color: green; 
    border-width: 1px;
}


.btn-seashell {
    background-color: #FFF3EB;
    color: black;
}
/*.btn-primary ::before {
    border-color: darkseagreen;
}*/

/*https://www.youtube.com/watch?v=KHF6nysy0-c&ab_channel=RayVillalobos*/
#homeIndexCarousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    max-height: 45rem; /*still not right*/
    overflow: hidden;
    width: 100%;
}

/*##161414
#FFF3EB
#274029
#315C2B
#60712F
#FF801F*/


#matchBoard {
    border-collapse: collapse;
    border-style: hidden;
}

#matchBoard td {
        border: 2px solid darkseagreen;
        padding: 1rem;
    }

#matchBoard t4 {
        padding: 1rem;
    }

/*.pointsModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
*/

/* Hide the default radio button */
input[type="radio"] {
    display: none;
}

/* Style the custom radio button container */
.custom-radio {
    display: inline-block;
    cursor: pointer;
    padding: 0.5rem;
    margin: 0.25rem; /* Adjust padding as needed */

    border-radius: 5px; /* Border radius for a rounded appearance */
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center; /* Center the text */
}

.radio.color1 {
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: 2px solid #007bff; /* Button border color */
}

    /* Style the custom radio button when checked */
    .custom-radio input:checked + .custom-radio {
        background-color: #0056b3; /* Adjust color when checked */
        border-color: #0056b3; /* Adjust border color when checked */
    }

.disabled {
    pointer-events: none; /* Disable pointer events on the div and its contents */
    opacity: 0.5; /* Optionally, reduce opacity to visually indicate it's disabled */
}