.body{
    min-height: 100vh;
}
.container{
    border-radius: 15px;
}

.btn-incative {
    background-color: transparent;
    border: 1px solid darkseagreen;
}

.bg-seashell {
    background-color: #FFF3EB;
}

.bg-night {
    background-color: #161414;
}
.bg-darkgreen {
    background-color: #274029;
}
.bg-midgreen {
    background-color: #315C2B;
}
.bg-lightgreen {
    background-color: #60712F;
}

/*test*/

/*.btn-primary{
    background-color: darkseagreen;
}
.btn-primary ::before {
    border-color: darkseagreen;
}*/


/*https://www.youtube.com/watch?v=KHF6nysy0-c&ab_channel=RayVillalobos*/
#homeIndexCarousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    max-height: 45rem; /*still not right*/
    overflow: hidden;
    width: 100%;
}

/*##161414
#FFF3EB
#274029
#315C2B
#60712F
#FF801F*/