@model List<PlayerModel>

@{
    ViewData["Title"] = "Create new Match";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<div class="container-fluid pt-3">
        <div class="container bg-white">
            <div>
                <form id="createMatch" class="p-3">
                <div class="form-outline mb-4">
                    <label class="form-label col-3" for="type"><b>Type:</b> </label>
                    <select id="matchType">
                        <option>3 Pfeil Wertung</option>
                        <option>2 Pfeil Wertung</option>
                    </select>
                </div>
                </form>
                <div class="pt-3 pb-3">
                   @*  <label class="form-label col-3" for="type">Player: </label> *@
                   
                   @* Old Table ->

                       <table id="matchPlayerTable" style="align-self:center;">
                        <thead><b>Player:</b></thead>
                        <tr>
                            <td class="col-1"> - </td>
                            <td id="player1">
                                here should be shown the logged in player
                            </td>
                        </tr>
                    </table> *@

                    <table style="border-collapse: collapse; width: 100%; border: 2px solid #000; background-color: #f0f0f0;">
                        <thead>
                            <tr>
                                <th style="border: 1px solid #000; padding: 8px;">nickname</th>
                                <th style="border: 1px solid #000; padding: 8px;">arrow 1</th>
                                <th style="border: 1px solid #000; padding: 8px;">arrow 2</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if() //get value of matchType to determine tablecolumns
                            {
                            foreach (var tmpPlayer in Model)
                            {
                                <tr>
                                    <td>@tmpPlayer.Nickname</td>
                                </tr>
                            }else
                            {
                                
                            }
                        }
                        </tbody>
                    </table>
                    <!-- Button trigger modal -->
                    <button id="matchAddPlayer" type="button" class="btn btn-seashell" data-bs-toggle="modal" data-bs-target="#addPlayerModal">
                        Add Player
                    </button>

                    <!-- Modal -->
                    <form asp-controller="Admin" asp-action="AddPlayerToPlay" method="post">
                    <div class="modal fade" id="addPlayerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">New Player</h5>4
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="ModalLoginName">Nickname</label>
                                        <input type="text" id="ModalLoginName" class="form-control" />
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="ModalLoginPassword">Password</label>
                                        <input type="password" id="ModalLoginPassword" class="form-control" />
                                    </div>
                                    <div if="modalFeedback" class="">
                                        <i> Note: If password is left empty, user will be added without connection to account.</i>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button id="modalSaveAddPlayer" type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
                <button id="matchStart" class="btn btn-seashell">Start</button>
            </div>

        </div>
</div>

