@model PlayerModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout_Player.cshtml";

}


<div class="container">
    <h1 style="color:white;">@Model.GetGreetingMessage()</h1>
</div>



<section id="homeIndexCarousel">
    <div class="container-fluid bg-night ">
        <div id="carouselExampleAutoplaying" class="container carousel slide" data-bs-ride="carousel" style="padding-right: 0; padding-left: 0;">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/willian-unsplash.jpg">
                </div>
                <div class="carousel-item">
                    <img src=~/img/remy-unsplash.jpg>
                </div>
                <div class="carousel-item">
                    <img src="~/img/luca-unsplash.jpg">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section id="homeIndexNews">
    <div class="container-fluid bg-darkgreen pt-4 pb-4">
        <div class="container bg-white" style="padding: 2rem;">
            <h2>News</h2>
            <div class="row pb-3">
                <div class="col">
                    We are happy to announce that from next week saturday we start selling some of our rental equipment on discount! It got replaced by fabric new bows and arrows that we can lend to each of you at your next visit :)
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="container col align-items-center">
                    <img src="~/img/D3.png" style="max-width:30rem;" />
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="container-fluid bg-midgreen pt-4 pb-4">
        <div class="container bg-white" style="padding: 2rem;">
            <h3>Parkours</h3>
            <p>
                ididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
            </p>
        </div>
    </div>
</section>
