@model EventModel
@{
    ViewData["Title"] = "Create new Match";
    Layout = "~/Views/Shared/_Layout_Player.cshtml";
}
<h1 style="text-align: center;">@ViewData["Title"]</h1>


<div class="container-fluid pt-3">
    <div class="container bg-white">
        <div>
            <div class="mb-3 mt-3">
                <form asp-controller="Player" asp-action="PlaySetup" method="post">
                    <div>
                        <label for="SelectedParcours">Select an option:</label>
                        <select asp-for="SelectedParcours" asp-items="new SelectList(Model.Name)">
                            <option value="">Select...</option>
                        </select>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
            <table>
                <theader>
                    <td>PLAYER</td>
                    @for (var cols = 1; cols <= Model.Parcours.CountAnimals; cols++)
                    {
                        <td>
                            @cols;
                        </td>
                    }
                </theader>
               
                @foreach(var player in Model.PlayerList)
                {
                    <tr>
                        @player;
                        @for (var cols = 0; cols < Model.Parcours.CountAnimals; cols++)
                        {
                            <td> </td> 
                        }
                    </tr>
                }
            </table>
            @* 
                
            
            <div class="pt-3 pb-3">
            @if (Model.CountTypeValue == EventModel.CountType.PfeilWertung2)
            {
            <table style="border-collapse: collapse; width: 100%; border: 2px solid #000; background-color: #f0f0f0;">
            <thead>
            <tr>
            <th style="border: 1px solid #000; padding: 8px;">ID</th>
            <th style="border: 1px solid #000; padding: 8px;">Name</th>
            <th style="border: 1px solid #000; padding: 8px;">Location</th>
            <th style="border: 1px solid #000; padding: 8px;">CountAnimals</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var tmpPlayer in ArcheryProject.Models.EventModel.tmpPlayerList)
            {

            }
            </tbody>
            </table>
            }
            else
            {

            }

            </div> *@
                    <!-- Button trigger modal -->
                    <button id="matchAddPlayer" type="button" class="btn btn-seashell" data-bs-toggle="modal" data-bs-target="#addPlayerModal">
                        Add Player
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="addPlayerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                        <form asp-controller="Player" asp-action="PlaySetup">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="ModalLoginName">Username</label>
                                    <input type="text" id="ModalLoginName" asp-for="ModalLoginName" class ="form-control" />
                                        </div>

                                        <!-- Password input -->
                                        <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="ModalLoginPassword">Password</label>
                                    <input type="password" id="ModalLoginPassword" asp-for="ModalLoginPassword" class="form-control" />
                                        </div>
                                        <div if="modalFeedback" class="">
                                            <i> Note: If password is left empty, user will be added without connection to account.</i>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button id="modalSaveAddPlayer" type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <button id="matchStart" class="btn btn-seashell">Start</button>
            </div>

        </div>
</div>

