@model EventModel
@{
    ViewData["Title"] = "Match";
    Layout = "~/Views/Shared/_Layout_Player.cshtml";
}
<script src="~/js/match.js"></script>
<div class="container">
    <h1 style="text-align: center; color: white;">@ViewData["Title"]</h1>
</div>



<div class="container-fluid pt-3">
    <div class="container bg-darkgreen pt-3 pb-3">
       <div id="setupMatch">
        
            <div class=" p-4" style="color:white; border: dashed 1px seashell; border-radius: 15px;">
                <form asp-controller="Player" asp-action="ChangeParcour" method="post">
                    <div class="row" style="align-items: center;">
                        <div class="col-3">
                            <label for="SelectedParcours">Select an option:</label>
                            <select asp-for="SelectedParcours" asp-items="new SelectList(Model.ParcourArr)">
                                <option value="">Select...</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button class="mybtn btn-active" type="submit">Update</button>
                        </div>
                        <div class="col">
                            <i>First choose your parcour option then add other players! </i>
                        </div>
                        
                        <div class="col-2">
                            <!-- Button trigger modal -->
                            <button id="matchAddPlayer" type="button" class="mybtn btn-active" data-bs-toggle="modal" data-bs-target="#addPlayerModal">
                                Add Player
                            </button>
                        </div>
                       
                    </div>
                    
                </form>
                
            </div>
            <div class="col-12 pt-4 pb-4" style="text-align: center;">
                <button class="mybtn btn-active" style="background: seashell; color:black;" onclick="startMatch()" type="submit">Start Match</button> @*should later on allow to use the table and hide all the input form*@
            </div>
            <div class="col-12 pb-4" style="text-align: center;">
                <p style="text-align: center; color: lightgray; font-size: 3rem; font-weight:100; font-style:italic;">Preview</p>
            </div>
        </div>


      <div id="matchDiv" class="container" style="background-color: seashell; padding: 1rem;">
            <table id="matchBoard" class="col-12">
                   
                    <tr class="col-12" style="border-bottom: 3px solid seagreen">
                        <th class="col-1">TARGET</th>
                        @foreach(var player in Model.PlayerList)
                        {
                            <th class="col" style="text-align: center;" >
                                @player
                            </th>
                        }
                    </tr>
                    
                
                    @for (var cols = 1; cols <= Model.Parcours.CountAnimals; cols++)
                    {
                    <tr>
                            <td class="col-1">@cols</td>
                            @foreach (var player in Model.PlayerList)
                            {
                                <td style="text-align: center;" onclick="openPointModal('@cols')" id="@cols">
                                                               
                                </td>
                            }
                    </tr>
                    }
                    <tr class="col-12" style="border-top: 3px solid seagreen">
                        <th class="col-1">SUM</th>
                        @foreach (var player in Model.PlayerList)
                        {
                            <th class="col" style="text-align: center;">
                                
                            </th>
                        }
                    </tr>

                </table>
            </div>
         </div>

<!-- Modal -->
            <div>
                    <div class="modal fade" id="addPlayerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                        <form asp-controller="Account" asp-action="AddPlayerToEvent" method="post">
                             @foreach(var tmpPlayer in Model.PlayerList)
                            {
                                <input type="hidden" name="PlayerListArr[]" value="@tmpPlayer" />
                            }
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="ModalLoginName">Username</label>
                                    <input type="text" id="ModalLoginName" asp-for="ModalLoginName" class ="form-control" />
                                        </div>

                                        <!-- Password input -->
                                        <div class="form-outline mb-4">
                                    <label class="form-label" asp-for="ModalLoginPassword">Password</label>
                                    <input type="password" id="ModalLoginPassword" asp-for="ModalLoginPassword" class="form-control" />
                                        </div>
                                        <div if="modalFeedback" class="">
                                            <i> Note: If password is left empty, user will be added without connection to account.</i>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button id="modalSaveAddPlayer" type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
          </div>



<!-- Modal For Point Input-->
<div class="modal fade" id="pointsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter your points:</h5>
            </div>
            <div class="modal-body">
                <h3 id="modalTitle">Points</h3>
                <div id="arrowPoints">
                    <div class="row col-12">
                        <div class="col">
                            Arrow 1:
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age1" name="A1" value="20">
                            <label "for=" a11">20</label>
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age2" name="A1" value="18">
                            <label for="a12">18</label>
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age3" name="A1" value="16">
                            <label for="a13">16</label><br>
                        </div>

                        <div class="col">
                            Arrow 2:
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age1" name="A2" value="20">
                            <label "for=" a21">20</label>
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age2" name="A1" value="18">
                            <label for="a22">18</label>
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age3" name="A2" value="16">
                            <label for="a23">16</label><br>
                        </div>

                        <div class="col">
                            Arrow 3:
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age1" name="A3" value="20">
                            <label "for=" a31">20</label>
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age2" name="A3" value="18">
                            <label for="a32">18</label>
                        </div>
                        <div class="col-3 custom-radio radio.color1">
                            <input type="radio" id="age3" name="A3" value="16">
                            <label for="a33">16</label><br>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="modalSave()" class="mybtn">Save</button>
                <button onclick="closeModal()" class="mybtn">Close</button>
            </div>
        </div>
    </div>
</div>
