@* @model LoginOrRegisterModel

@{
    ViewData["Title"] = "registerFailed";
    
  
}
 *@
 <p>
     #gfhfdghfgh
 </p>
<script>
    $(document).ready(function () {
        // Trigger the modal when the page loads
        $('#myModal').modal('show');
    });
</script>