@model PlayerModel

@{
    ViewData["Title"] = "Register Success";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
  
}

<div class="container login-container">
    <div class="login-bg-image"></div>
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
</ul>
    <div container style="background-color: white; color: black; text-align:center; font-size: 1.7rem; padding: 1rem; border-radius: 15px;">
        Your match has been saved successfully!
    </div>
</div>

