@model LoginOrRegisterModel

@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}

<div class="container login-container">
    <div class="login-bg-image"></div>
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation">
        <button id="loginButton" class="btn btn-primary">Login</button>
    </li>
    <li class="nav-item" role="presentation">
            <button id="registerButton" class="btn btn-inactive">Register</button>
    </li>
</ul>
    <div>
        <form id="loginForm" style="display: block" asp-controller="Account" asp-action="Login" method="post">
            <!-- LoginName input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="loginName"></label>
                <input type="text" asp-for="loginName" class="form-control" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="loginPassword"></label>
                <input type="password" asp-for="loginPassword" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
        </form>
    </div>

        <form id="registerForm" style="display: none" asp-controller="Account" asp-action="Register" method="post" >
        <div class="row"> 
            <!-- FirstName input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="RegisterFirstName"></label>
                <input type="text" asp-for="RegisterFirstName" class="form-control" />

            </div>

            <!-- LastName input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="registerLastName"></label>
                <input type="text" asp-for="registerLastName" class="form-control" />

            </div>
        </div>
            
            <!-- Username input -->
            <div class="form-outline mb-4">
            <label class="form-label" asp-for="registerUsername"></label>
            <input type="text" asp-for="registerUsername" class="form-control" />
                
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
            <label class="form-label" asp-for="registerEmail">Email</label>
            <input type="email" asp-for="registerEmail" class="form-control" />
                
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
            <label class="form-label" asp-for="registerPassword">Password</label>
            <input type="password" asp-for="registerPassword" class="form-control" />
                
            </div>

            <!-- Repeat Password input -->
            <div class="form-outline mb-4">
            <label class="form-label" asp-for="registerRepeatPassword">Repeat password</label>
            <input type="password" asp-for="registerRepeatPassword" class="form-control" />
                
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
        </form>

    </div>

<div class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Admin">Hardcoded Relink Admin</a>
</div>